<div>
  <div style="background-color: gainsboro;">
    <h1 style="text-align: center">Welcome to Train Booking System</h1>
  </div>
  <div class="divideTwoDiv">
    <!-- second div -->
     <div class="booking">
       <h1>Book here!</h1>
    
       <div class="bookingInput">
         
        <div class="inputValues">
          
          <input [(ngModel)]="name" type="text" placeholder="Add Name"/>
          
          <input [(ngModel)]="mobile" type="text" placeholder="Add Mobile Number"/>
          
          <input [(ngModel)]="totalSeats" type="number" placeholder="Add Number of Seats to Reserve"/>
           <button (click)="registerSeats()" class="registerButton">
             Book Now
           </button>
         </div>
       </div>
       <!-- *ngIf="bookedSeats && bookedSeats.length > 0" -->
    
       <div class="displayBooked" *ngIf="bookedSeats && bookedSeats.length > 0">
         <h2>Reserved seats</h2>
         <!-- <div *ngFor="let data; in: bookedSeats">
           <p>{{ data.seatRow }}{{ data.seatNumber }}</p>
         </div> -->
    
         <div class="userDetail">
           <div class="userDisplay">
             <label>Name:</label>
             <!-- <p>33</p> -->
    
             <p>{{ bookedSeats[0].customer.name }}</p>
           </div>
           <div class="userDisplay">
             <label>Mobile:</label>
             <!-- <p>33</p> -->
    
             <p>{{ bookedSeats[0].customer.mobileNumber }}33</p>
           </div>
           <div class="userDisplay">
             <label>Total seats:</label>
             <p>{{ bookedSeats.length }}</p>
           </div>
         </div>
    
         <div class="seatsDisplay">
           <p *ngFor="let data of bookedSeats">
             {{ data.seatRow }}{{ data.seatNumber }}
           </p>
         </div>
       </div>
     </div>
     <!-- first div -->
    <div class="train-coach">
      <div class="row" *ngFor="let data of getSeats; let i = index">
        <ng-container *ngIf="i &lt;=9">
          <div class="seat" *ngFor="let seat of data.seats" >
            <button
              [ngClass]="{
                available: seat.status === 'available',
                booked: seat.status === 'booked',
                reserved: seat.status === 'reserved'
              }"
            >
              <i class="fa-solid fa-chair"></i>
              <!-- <i class="fa-solid fa-loveseat"></i> -->
              {{ data.row }}{{ seat.seatNumber }}
            </button>
          </div>
        </ng-container>
        <ng-container *ngIf="i === 10">
          <div class="seat" *ngFor="let seat of data.seats; let j = index">
            <button
              [ngClass]="{
                available: seat.status === 'available',
                booked: seat.status === 'booked',
                reserved: seat.status === 'reserved'
              }"
              *ngIf="j &lt;= 2"
            >
              <i class="fa-solid fa-chair"></i>
              {{ data.row }}{{ seat.seatNumber }}
            </button>
          </div>
        </ng-container>
      </div>
    </div>

  </div>
  <div>
    <button (click)="resetAll()" class="button">
      <i class="fa-solid fa-rotate-left"></i>Reset
    </button>
  </div>
</div>
